{
  "flutter": {
    "platforms": {
      "android": {
        "default": {
          "projectId": "your-project-id",
          "appId": "1:000000000000:android:aaaaaaaaaaaaaaaaaaaaaa",
          "fileOutput": "android/app/google-services.json"
        }
      },
      "dart": {
        "lib/firebase_options.dart": {
          "projectId": "your-project-id",
          "configurations": {
            "android": "1:000000000000:android:aaaaaaaaaaaaaaaaaaaaaa",
            "ios": "1:000000000000:ios:aaaaaaaaaaaaaaaaaaaaaa",
            "web": "1:000000000000:web:aaaaaaaaaaaaaaaaaaaaaa"
          }
        }
      }
    }
  }
}
